@{
  Layout = "_Layout";
}

@model MusicInventory.Models.Artist
@using MusicInventory.Models

<h2>Artist Details</h2>
  <hr/>
  <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>
  <h3>@Html.DisplayNameFor(model => model.Genre): @Html.DisplayFor(model => model.Genre)<h3></h3>

  @if (@Model.Albums.Count == 0)
  {
    <h3>No albums have added to this category yet!</h3>
  }
  else
  {
    <h3>Albums:</h3>
    <ul>
      @foreach (Album album in Model.Albums)
      {
        <li>@Html.ActionLink(album.Title, "Details", "Album", new { id = album.AlbumId }, null)</li>
      }
    </ul>
  }

  <p>@Html.ActionLink("Edit Artist", "Edit", new { id = Model.ArtistId })</p>
  <p>@Html.ActionLink("Delete Artist", "Delete", new { id = Model.ArtistId })</p>
  <p>@Html.ActionLink("Back to List", "Index")</p>