@{
  Layout = "_Layout";
}

@model MusicInventory.Models.Artist

<h2>Edit</h2>

<h4>Edit this artist: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ArtistId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  @Html.LabelFor(model => model.Genre)
  @Html.EditorFor(model => model.Genre)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>